@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:ital,wght@0,300;0,400;1,500;1,700&family=Mulish:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;700&family=Poppins:wght@300;400;600;700&family=Roboto:wght@100;300;400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width:90%;
    max-width: 1200px;
    margin:0 auto;
    padding:60px 0;

}

header::before{
    content: '';
    position:absolute;
    top:0;
    width: 100%;
    height: 100%;
    left:0;
    background-image: linear-gradient(100deg,#0000008c 0%, #0000008c 100%), url('../images/computer.jpg');
    background-size: cover;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 73%, 50% 90%, 0 74%);
}

header{
    height:100vh;
}

.nav{
    display: flex;
    width:100%;
    justify-content: space-between;
    height:80px;
    align-items: center;
    padding:0 30px;
    color:#fff;
}

.nav__title{
    font-size: 1.5em;
    font-weight: 700;
}

.nav__links{
    width: 400px;
    display: flex;
    justify-content:space-evenly;
}

.nav__link{
    text-decoration: none;
    font-weight: 700;
    color:#fff;
}

.hamburger{
    display:none;
    width:40px;
    height:40px;
    cursor:pointer;
}

.hamburger img{
    width:100%;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 380px;
}

.hero__cta{
    text-decoration: none;
    color:#fff;
    background: #2091F9;
    width:180px;
    text-align: center;
    border-radius: 15px;
    padding:15px 10px;
    font-weight: 600;
}

.hero__copy{
    color:#fff;
}

.hero__title{
    color: #fff;
    font-weight: 700;
    font-size:3rem;
}

.about__textos{
    text-align: center;
}

.subtitle{
    margin-bottom: 20px;
    color:#001A49;
    font-size: 2.5rem;
}

.about__title{
    font-size: 1.2rem;
    font-weight: 700;
}

.about__copy{
    margin-bottom: 50px;
    font-weight: 400;
}

.about__cards{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    overflow: hidden;
    gap: 1em;
}

.about__card{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height: 250px;
    padding:0 20px;
    text-align: center;
}

.about__icon{
    width: 50px;
}

.knowledge{
    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
    align-items: center;
}

.knowledge__picture{
    width: 100%;
}

.knowledge__img{
    width: 100%;
}

.knowledge__copy{
    margin-bottom: 40px;
    line-height: 1.7;
}

.knowledge__cta{
    background: #2091F9;
    padding:10px 30px;
    color:#fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 6px;
}

.prices__subtitle{
    text-align: center;
}

.prices__container{
    padding-top: 50px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5;
    justify-content:space-evenly;
    align-items: center;
}

.prices__item{
    background-color:#E5E5F7;
    width:30%;
    padding:40px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    height:330px;
    border-radius: 6px;
}

.prices__title{
    font-weight: 300;
    font-size: 1.1rem;
}

.prices__item--best .prices__title{
    color:#fff;
}

.prices__price{
    font-size:3rem;
    color:#001A49;
}

.prices__item--best .prices__price{
    color:#fff;
}

.prices__item--best .prices__plan{
    color:#fff;
}

.prices__plan{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 300;
    color:#696871;
}

.prices__cta{
    background: #fff;
    color:#444cf7;
    padding:15px 30px;
    border-radius: 8px;
    font-weight: 700;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.prices__item--best{
    background: #FF7143;
    padding:60px 40px;
    height: 380px;
}

.prices__item--best .prices__cta{
    background: #9F3919;
    color:#fff;
}

.experiencia{
    background: #e5e5f7;
}

.experiencia__container{
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap:1em;
    align-items:center;
}

.experiencia__body{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    gap:2em;
    grid-template-columns:1fr max-content;
    justify-self: center;
    opacity: 0;
    pointer-events: none;
    transition:opacity .8s ease-in;
}

.experiencia__body--show{
    opacity: 1;
    pointer-events: unset;
}

.experiencia__textos{
    width:100%;
    display: flex;
    flex-direction: column;
    padding:20px 10px;
    justify-content: center;
}

.experiencia__picture{
    width:100%;
}
.experiencia__img{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit: cover;
}

.experiencia__arrow{
    width:90%;
    cursor: pointer;
}

.experiencia__span{
    background: #444cf7;
    color:#fff;
    padding: 0 5px;
}

.questions__title{
    margin-bottom: 20px;
    color:#001A49;
    font-size: 2rem;
    text-align: center;
}

.subtitle__questions{
    text-align:center;
}

.questions__copy{
    text-align: center;
    width:450px;
    margin:30px auto;
}

.questions__padding{
    padding:0;
    border:1px solid #444cf7;
    border-radius:6px;
    transition:padding .3s;
    margin-bottom: 20px;
}

.questions__answer{
    padding:30px;
    overflow: hidden;
}

.questions-title__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor:pointer;
}

.questions__paragraph{
    text-align: left;
    display: none;
    
}

.questions__paragraph--show{
    display:block;
    margin-top:20px;
    padding:20px 0;
}

.pregunta{
    color:#001A49;
    font-weight: 700;
    font-size: 1.8rem;
}

.arrow__container{
    height:30px;
    width:30px;
    display: flex;
    justify-content:center;
    align-items: center;
    align-self: flex-end;
    background: #001A49;
    line-height: 15px;
    border-radius: 50%;
    transition:transform .5s;
}

.arrow__container--rotate{
    transform: rotate(180deg);
}


.questions__arrow{
    display: block;
}

.questions__cta{
    display:block;
    width:150px;
    margin:0 auto;
    text-align: center;
}

.questions__cta{
    text-decoration: none;
    background: #2091F9;
    color:#fff;
    padding:10px 30px;
    font-size:1.2rem;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
}

.footer{
    background: #001A49;
}

.footer__container{
    border-bottom: 1px solid #fff;;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color:#fff;
}

.footer__title{
    font-weight: 300;
    font-size:1.8rem;
}

.footer__nav{
    display: flex;
    list-style-type:none;
    justify-content: space-evenly;
    align-items: center;
    gap:1em;
    padding:10px 30px 50px 30px;
}

.footer__link{
    font-size:1rem;
}

.footer__form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.form__title{
    font-size: 1.3rem;
    font-weight: 700;
}

.form__input{
    padding:8px;
    border-radius: 5px;
    border:none;
    margin-right: 10px;
}

.form__submit{
    padding:8px;
    border:none;
    width: 100px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    background: #2091F9;
    color:#fff;
}

.social-media{
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    color:#fff;
}

.icon{
    width:40px;
}

.social-media__rights{
    font-size: 1.2rem;
}

@media screen and (max-width:800px) {

    .nav__links{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0;
        pointer-events: none;
    }

    .nav__links--show{
        opacity: 1;
        pointer-events: unset;
    }

    .hamburger{
        display:unset;
        position:fixed;
        top:30px;
        right:30px;
        /* z-index: 10; */
    }

    .about__card:last-of-type{
        grid-column: 1/-1;
    }

    .prices__container{
        flex-direction: column;
        justify-content: space-evenly;
        gap:2em;
        width:90%;
        margin:0 auto;
    }

    .prices__item{
        width:55%;
    }

    .footer__container{
        width: 90%;
    }

    .footer__title{
        font-size: 1.2rem;
    }

    .footer__form{
        flex-direction: column;
        gap:1em;
    }

    .footer__nav{
        padding:10px 20px 40px 20px;
    }

    .form__input{
        margin:0;
        margin-bottom: 10px;
        width: 40%;
    }

    .form__submit{
        width:80px;
    }

    .icon{
        width: 30px;
    }

    .social-media__rights{
        font-size:1rem;
    }
}

